/* ----------------------------------------------------------------
                            CORE SETUP
----------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-family: 'Nunito', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #444;
  background-color: #fff; }

body {
  background-color: #fff; }

a {
  color: #fff; }

/* ----------------------------------------------------------------
                            REUSABLE COMPONENTS
----------------------------------------------------------------- */
h1,
h2 {
  letter-spacing: 1px;
  word-spacing: 3px; }

h1 {
  font-size: 220%;
  font-weight: 200;
  margin-bottom: 30vh;
  text-transform: uppercase;
  color: #eaeaea; }

h2 {
  font-size: 170%;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center; }
  h2:after {
    display: block;
    width: 200px;
    height: 5px;
    margin: 0 auto;
    margin-top: 30px;
    content: '';
    background-color: #9a5c88; }

h3 {
  margin-bottom: 20px; }

h4 {
  font-size: 105%;
  margin-bottom: 10px;
  font-family: 'Eczar', serif;
  letter-spacing: 1px; }

.row {
  width: 100vw;
  max-width: 1140px;
  margin: 0 auto; }

.btn:link, .btn:visited {
  font-weight: 400;
  display: inline-block;
  margin: 0 12px;
  padding: 0 15px 10px 15px;
  text-decoration: none;
  border-radius: 0 12px 0 12px; }
  @media screen and (max-width: 400px) {
    .btn:link, .btn:visited {
      display: block;
      text-align: center; } }

section {
  padding: 60px 0 40px 0; }

/* ----------------------------------------------------------------
                            NAVBAR
----------------------------------------------------------------- */
nav {
  max-height: 70px; }
  nav img {
    float: left;
    height: 70px; }

.nav-list {
  float: right;
  list-style: none; }
  .nav-list li {
    font-size: 85%;
    font-weight: 400;
    display: inline-block;
    margin: 25px 0 0 30px; }
    .nav-list li a {
      text-decoration: none;
      color: #fff;
      border-bottom: 2px solid transparent; }
      .nav-list li a:hover {
        -webkit-transition: 300ms;
        transition: 300ms;
        border-bottom: 3px solid #7a496c; }

/* ----------------------------------------------------------------
                            HEADER
----------------------------------------------------------------- */
header {
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-size: cover; }

.hero-screen {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 50%;
  width: 100vw;
  max-width: 1140px;
  margin-top: 10vh;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.btn-friends img,
.btn-alone img,
.btn-home img {
  width: 28px;
  height: 28px;
  margin: 10px 10px -5px 0;
  padding-top: 0; }
.btn-friends:link, .btn-friends:visited,
.btn-alone:link,
.btn-alone:visited,
.btn-home:link,
.btn-home:visited {
  border: 1px solid #000; }
.btn-friends:hover, .btn-friends:active,
.btn-alone:hover,
.btn-alone:active,
.btn-home:hover,
.btn-home:active {
  -webkit-transition: background-color 300ms, border 300ms;
  transition: background-color 300ms, border 300ms;
  border: 1px solid #eaeaea; }

.btn-friends:link, .btn-friends:visited {
  background-color: #f55a24; }
.btn-friends:hover, .btn-friends:active {
  background-color: #dc400a; }

.btn-alone:link, .btn-alone:visited {
  background-color: #f8882c; }
.btn-alone:hover, .btn-alone:active {
  background-color: #d96607; }

.btn-home:link, .btn-home:visited {
  background-color: #e6ac0c; }
.btn-home:hover, .btn-home:active {
  background-color: #c6940a; }

/* ----------------------------------------------------------------
                            REVIEWS
----------------------------------------------------------------- */
.pipe {
  font-size: 140%;
  color: #a36490; }
  .pipe img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-bottom: -8px; }

.squish {
  padding-right: 4%;
  padding-left: 4%; }

.contact-them {
  list-style: none;
  width: 100%;
  margin-top: 15px; }
  .contact-them li {
    font-weight: 400;
    padding: 0 10px 0 3px;
    display: inline-block; }
  .contact-them a:link, .contact-them a:visited {
    color: #000;
    text-decoration: none; }
    .contact-them a:link:after, .contact-them a:visited:after {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background-color: #653c59; }
    .contact-them a:link i, .contact-them a:visited i {
      padding-right: 3px;
      font-size: 145%;
      color: #a36490; }
  .contact-them a:hover:after, .contact-them a:focus:after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    position: absolute;
    background-color: #653c59;
    -webkit-transition: 600ms;
    transition: 600ms; }

.twitter:hover:after, .twitter:focus:after {
  width: 95px !important; }

.insta:hover:after, .insta:focus:after {
  width: 115px !important; }

.gallery {
  width: 100%;
  list-style: none; }
  .gallery li {
    display: block;
    float: left;
    width: 25%; }

.gallery-image {
  overflow: hidden;
  width: 100%;
  margin: 0; }
  .gallery-image img {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    -webkit-transition: 2.6s;
    transition: 2.6s;
    -webkit-filter: grayscale(0.65); }
    .gallery-image img:hover {
      -webkit-transition: .4s;
      transition: .4s;
      -webkit-filter: grayscale(0); }

.home-images img {
  margin-bottom: 0px; }

/* ----------------------------------------------------------------
                            FOOTER
----------------------------------------------------------------- */
footer {
  background-color: #251621; }

.footer-contact {
  list-style: none;
  float: left; }
  .footer-contact li {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    font-weight: 400; }
    .footer-contact li a:link, .footer-contact li a:visited {
      text-decoration: none;
      color: #99668a; }
    .footer-contact li a:hover, .footer-contact li a:focus {
      color: #fff;
      -webkit-transition: 300ms;
      transition: 300ms; }

.svg {
  max-height: 20px; }

/*# sourceMappingURL=main.css.map */
